{{ template "header" .}}

  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Tonic Payment Gateway</h4>
        <p>Tonic is a digital healthcare service for Grameenphone customers that helps to make high quality health information, advice and service accessible to all.</p>

      </div>
    </div>
  </div>

{{ template "footer" }}
