{{ template "header" .}}

  <div class="container">
    <div class="row">
      <div class="one-full column" style="margin-top: 10%">
        
        <h2>ID: {{.ID}}</h2>
        <h2>Username: {{.Username}}</h2>
        <h2>Email: {{.Email}}</h2>
        <hr />

      </div>
    </div>
  </div>

{{ template "footer" }}
